.passwordFields{
    display:flex;
    flex-direction:column; 
    align-items:flex-start; 
    width:100%;
    margin-left: 30%;
    padding: 32px;
    margin-top: 3%;
}
.passwordInput{
    display:flex;
    flex-direction:column;
    gap:16px;
    width:100%;
    align-items: self-start;
}

.passwordChecks{
    width:100%;
    display:flex;
    flex-direction:column;
}
.passwordInput Button{
    background-color:#3f51b5;
    color:white;
    width: 40%;
}
.passwordFields p{
    color: #3f51b5;
    font-size: 36px;
    font-weight: bold;
}
@media screen and (max-width: 1919px)  {
    .passwordInput Button{
        width: 48%;
    }
}
@media screen and (max-width: 960px)  {
    .passwordFields{
        margin-left: auto;
        padding:32px
    }
    .passwordFields p{
        font-size: 26px;
    }
}