.empty{
    width: 50%;
    
}
.loginTab{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.loginNav{
    display: flex;
    margin: 32px;
    align-items:flex-start;
}
.space{
    height: 48px;
}

.tabs{
    display: flex; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    flex-grow: 0;
    /* width: 100%; */
    margin: auto;
    margin-bottom: 2rem;
    width:60.9%;
}
.tabContent{
    display: flex;
    margin: auto;
    /* min-width:484px; */
    width:60.9%;
}
.MuiTabs-root{
    width: 100%;
}
@media screen and (max-width: 1280px)  {
    .tabs{
        width: 100%;
    }
    
    .tabContent{
        min-width:100%;
    }
    .empty{
        width: 50%;
    }
    .loginTab{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%;
    }
    .MuiTabs-root{
        width: 100%;
    }
}
@media screen and (max-width: 958px)  {
    .tabs{
        width: 100%;
    }
    
    .tabContent{
        min-width:100%;
        width: auto;
    }
    .empty{
        width: 0%;
    }
    .loginTab{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .MuiTabs-root{
        width: 100%;
    }
}