.header{
    height: 64px;
    overflow: hidden;
    display: flex;
    position: sticky;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: white;
}
.logo{
    max-height: 64px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.logo img{
    max-height: 2.5rem;
    width: 10rem;
    margin: 0 1rem;
    overflow: hidden;
}
.buttonLogin{
    /* align-self: flex-end; */
}