.header{
    min-height: 64px;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
    /* position: fixed; */
    background-color: white;
    /* width: 100vw; */
}
.logo{
    max-height: 64px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.logo img{
    max-height: 2.5rem;
    width: 10rem;
    margin: 0 1rem;
    overflow: hidden;
    cursor: pointer;
}
.searchBar{
    display: flex;
}
.searchBar select{
    height: 3rem;
    border:none;
    max-width: 180px;
    background-color: #fafafa;
    font-size: 1rem;
    outline:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: 10px;
  }
 option {
    text-wrap:wrap; 
    font-size: 1rem;
    padding-bottom: 5px;
    padding: 0px 2px 3px;
}
option:checked,
option:hover,
option:focus {
    background-color: rgb(230, 230, 230);
}
.search{
    display:flex;
    padding-left: 30px;
    background-color: #fafafa;
}
.smallHeader{
    display: none;
    flex-direction: column;
    background-color: white;
}
.upper{
    /* min-width: 300px; */
    min-height: 64px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
}
.lower{
    /* min-width: 380px; */
    min-height: 64px;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
    margin: auto;
}

@media screen and (max-width:960px) {
    .header{
        display:none;
    }
    .smallHeader{
        display: flex;
    }
}
