.myProfile{
    display: flex;
    
}
.profileContent{
    padding: 36px;
    width: 100%;
    min-height: 72vh;
}
.profilePicWithButton{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* min-height: 300px; */
}

.profileInputs{
    margin-top:20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 46px;
    column-gap: 24px;
}